{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.nomArticle}}</td>
                        <td>{{item.product.imageArticle}}</td>
                        <td>{{item.product.prixArticle}}</td>
                        <td>{{item.quantity}}</td>
                        <td><a href="#" class="btn btn-danger btn-sm">DEL </a></td>
                    </tr> 
                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class='text-right'>Total: </td>
                    <td><b>{{total}}</b></td>
                    <td> euros </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Surprise, c'est vide! </p> 
    {% endif %}
    
</div>
{% endblock %}
