{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/E_BOUTIQUE_OK/src/Controller/PanierController.php'|file_link(0) }}">src/Controller/PanierController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/E_BOUTIQUE_OK/templates/panier/index.html.twig'|file_link(0) }}">templates/panier/index.html.twig</a></code></li>
    </ul>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Type</th>
                    <th>BTN Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.nomArticle}}</td>
                        <td>{{item.product.imageArticle}}</td>
                        <td>{{item.product.prixArticle}}</td>
                        <td>{{item.quantity}}</td>
                        <td></td>
                    </tr> 
                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <td>Total </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Surprise, c'est vide! </p> 
    {% endif %}
    
</div>
{% endblock %}
