{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<<<<<<< HEAD
<div class="checkout">
	<div class="title">
		<div class="wrap">
		<h2 class="first">Panier</h2>
		</div>
	</div>
	{# <form method="post" action="panier"> #}
        <div class="table">
            <div class="wrap">

                <div class="rowtitle">
                    <span class="name">Product name</span>
                    <span class="price">Price</span>
                    <span class="quantity">Quantity</span>
                    <span class="subtotal">Prix avec TVA</span>
                    <span class="action">Actions</span>
                </div>

                {foreach from=$allArticles item=article}
                <div class="row">
                    <a href="#" class="img"> <img src="{$article->get_imageArticle()}" height="53"></a>
                    <span class="name">{$article->get_nomArticle()}</span>
                    <span class="price">{$article->get_prixArticle()} €</span>
                    <span class="quantity"><input type="text" name="panier[quantity][{$article->get_idArticle()}]" value="{$panier->quantite({$article->get_idArticle()})}"></span>
                    <span class="subtotal">{$article->get_prixArticle()} €</span>
                    <span class="action"><a href="sup_art_panier&{$article->get_idArticle()}" class="del"><img src="view/web/img/del.png"></a></span>
                </div>
                {/foreach}
                <div class="rowtotal">
                    Grand Total : <span class="total">{$panier->total()}  € </span>
                </div>
                <input type="submit" value="Recalculer">
            </div>
        </div>
	{# </form> #}
=======
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/E_BOUTIQUE_OK/src/Controller/PanierController.php'|file_link(0) }}">src/Controller/PanierController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/E_BOUTIQUE_OK/templates/panier/index.html.twig'|file_link(0) }}">templates/panier/index.html.twig</a></code></li>
    </ul>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Type</th>
                    <th>BTN Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.nomArticle}}</td>
                        <td>{{item.product.imageArticle}}</td>
                        <td>{{item.product.prixArticle}}</td>
                        <td>{{item.quantity}}</td>
                        <td></td>
                    </tr> 
                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <td>Total </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Surprise, c'est vide! </p> 
    {% endif %}
    
>>>>>>> 20db3481845c5d4b16dccdda96aa35024f8594bc
</div>

    <div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix TTC</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for article in articles %}
                    <th scope="row">{{article.imageArticle}}</th>
                    <td>{{article.nomArticle}}</td>
                    <td>{{article.prixArticle}}</td>
                    <td>Quantité</td>
                    <td>Prix TTC</td>
                    <td>Action</td>
                {% endfor %}
            </tr>
        </tbody>
        <tfoot> 

        </tfoot>
        </table>
    </div>

{% endblock %}
