{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


<div class="mx-5 border border-success rounded shadow">
    <p class="h1 text-success text-center">Shopping Cart</p>
    {% if items | length > 0 %}
        <table class="table table-hover">
            <thead class="thead-light">
                <tr >
                    <th colspan="2" class="text-center">Article Designation</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Prix TTC</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr >
                        {# Articles Image + nom #}
                        <td class="text-center px-0" style="width:150px; ">
                            <img src="{{asset('img/' ~ item.product.imageArticle)}}" class="w-50"  alt=""  >
                        </td>
                        <td class="text-success text-center">{{item.product.nomArticle}}</td>
                        {# Prix Unitaire #}
                        <td class="text-success text-center">{{item.product.prixArticle}} €</td>
                        {# Quantité #}
                        <td class="text-center font-weight-bold"> 
                         {# Buttons + or - #}
                            <button type="button" class="btn btn-outline-success border-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                                </svg>
                            </button>
                                {{item.quantity}}
                            <button type="button" class="btn btn-outline-success border-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </button>

                        </td>
                        {# Prix * Quantité #}
                        <td class="text-success text-center">{{item.product.prixArticle * item.quantity}} €</td>
                        {# Actions #}
                        <td class="text-center"> 
                            {# DELETE #}
                            <a href="{# {{ path ('panier_add', {'id': article.id})}} #}" class="card-link text-warning ">
                                {# ICON #}
                                <svg width="2rem" height="2rem" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            <a>
                        </td>
                        
                    </tr> 
                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2" > </td>
                    <td class="bg-success text-light rounded-bottom h-100">Total</td>
                    <td class="rounded-bottom h-100"><b>{{total}} €</b></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Surprise, c'est vide! </p> 
    {% endif %}
</div>

{% endblock %}
