{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-success bg-light ml-5">Register</h1>
    {{ form_start(registrationForm, {class: 'form-control'}) }}
        {{ form_row(registrationForm.email, { class:'form-control w-25 p-3' } ) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password'}, { class:'form-control' }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
